<!-- Start Page Header -->
<div class="page-header parallax clearfix" style="background-image:url('../images/staff-image2.jpg');">
    <div class="title-subtitle-holder">
      <div class="title-subtitle-holder-inner">
        <hr>
      <h2>Donation</h2>
      <hr>
      </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Breadcrumbs -->
<div class="lgray-bg breadcrumb-cont">
  <div class="container">
        <ol class="breadcrumb">
          <li><a href=">">Home</a></li>
          <li class="active">Donate</li>
        </ol>
    </div>
</div>

<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="grid-content">
                <h2>Thank you for your gift!</h2>
                <hr class="sm">
            <p>Please remember to designate the purpose of your gift: Tithe/Offerings, Building fund<br><br><a class="basic-link" target="_blank" href="https://pushpay.com/pay/agapehouseks">Click here to Give</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>