<!-- Start Page Header -->
    <div class="page-header parallax clearfix" style="background-image:url(../images/backg8.jpeg);">
    	
        <div class="title-subtitle-holder">
        	<div class="title-subtitle-holder-inner">
    			<h2>Events Calendar</h2>
        	</div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Breadcrumbs -->
  <div class="lgray-bg breadcrumb-cont">
    	<div class="container">
          	<ol class="breadcrumb">
            	<li><a href="/">Home</a></li>
              <li><a href="/calendar">Calendar</a></li>
            
            	<li class="active">Events Calendar</li>
          	</ol>
        </div>
    </div>
    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
        	<div class="container">
            	<div id='calendar'></div>
            		<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23336666&amp;src=ceze1990%40gmail.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FChicago" style="border:solid 1px #777;" width="1100" height="600" frameborder="0" scrolling="no"></iframe>
         	</div>
        </div>
   	</div>
    <!-- End Body Content -->
    