<!-- Start Page Header -->
    <div class="page-header parallax clearfix" style="background-image:url(../images/about3.jpg);">
    <
        <div class="title-subtitle-holder">
          <div class="title-subtitle-holder-inner">
          <h2>Our Ministries</h2>
          </div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Breadcrumbs -->
    <div class="lgray-bg breadcrumb-cont">
      <div class="container">
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active">About Us</li>
            </ol>
        </div>
<h3>Ministries</h3>

                <hr class="sm">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="grid-item staff-item format-standard">
                          <div class="grid-item-inner">
                            <%= image_tag 'staff2.jpg' %>
                              <div class="grid-content">
                                  <div class="staff-item-name">
                                  <h5>Bro. Tony Shoga</h5>
                                        <span class="meta-data">Men's Ministries</span>
                                    </div>
                                    <ul class="social-icons-colored">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                       <!-- <li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li> -->
                                    </ul>
                                <p>Brother Tony is the head of Agape House Men's Ministry</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="grid-item staff-item format-standard">
                          <div class="grid-item-inner">
                               <%= image_tag 'staff5.jpg' %>
                              <div class="grid-content">
                                  <div class="staff-item-name">
                                  <h5>Bro. Ezekiel Abimbola</h5>
                                        <span class="meta-data"> Assistant Pastor</span>
                                    </div>
                                    <ul class="social-icons-colored">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                       <!-- <li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li> -->
                                    </ul>
                                <p>Brother Sam is the assitant pastor of RCCG Agape House kansas parish</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="grid-item staff-item format-standard">
                          <div class="grid-item-inner">
                                <%= image_tag 'staff3' %>
                              <div class="grid-content">
                                  <div class="staff-item-name" style="border-image: 10px;">
                                  <h5>Sister Rosemary Shoga</h5>
                                        <span class="meta-data">Women's Ministries</span>
                                    </div>
                                    <ul class="social-icons-colored">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                       <!-- <li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li> -->
                                    </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="grid-item staff-item format-standard">
                          <div class="grid-item-inner">
                                <%= image_tag 'staff4' %>
                              <div class="grid-content">
                                  <div class="staff-item-name">
                                  <h5>Joy Edegbe</h5>
                                        <span class="meta-data">Young Adults and Single's Ministries</span>
                                    </div>
                                    <ul class="social-icons-colored">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <!--<li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>-->
                                    </ul>
                                <p>Joy has been serving as the vice president of young adults and singles since September of 2016.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="spacer-40"></div>