<div class="body"> 
  <!-- Start Site Header -->
<header class="site-header" style="background-image: url(..images/wood.jpg);">
 <div class="container for-navi">
  <div class="site-logo">
   <h1>
 <!-- <a href="index.html"> -->
    <span><img src="../images/rccglogo.png" style="height: 70px; padding-top: -5px; padding-bottom: 20px;"></span>
    <span class="logo-text" style="color: #117A65;">AGAPE HOUSE KANSAS</span>
    <span class="logo-tagline"></span> 
 <!--   </a> -->
</h1>
</div>
      
            <!-- Main Navigation -->
    <nav class="main-navigation" role="navigation" style="font-size: 18px;">
    <ul class="sf-menu">
        <li>
          <a href="/" style="color: #117A65;">Home</a> 
        </li>
          
          <li><a href="javascript:void(0)" style="color: #117A65; ">About us</a>
            <ul class="dropdown" style="background-color: #117A65;">
              <li><a href="/about" style="color: white;">Our Church</a></li>
              <li><a href="/ministries" style="color: white;">Our Pastors</a></li>
              <li><a href="/staff" style="color: white;">Our Staff</a></li>
          
              <!--<li><a href="donate.html">Donate now</a></li> -->
            </ul>
          </li> 

          <li>
        <a href="/sermons" style="color: #117A65; ">Sermons</a>
        
            </li>
       <li>
        <a href="/gallery" style="color: #117A65;">Gallery</a>
        
            </li>
      
     <li><a href="javascript:void(0)" style="color: #117A65; ">EVENTS</a>
        <ul class="dropdown" style="background-color:#117A65; ">
        <!--  <li><a href="/events">Events List</a></li> -->
          <li><a href="/calendar" style="color: white;">Calendar</a></li> 
       </ul> 
     </li> 
              
  <!--  <li>
      <a href="/donate">DONATE</a>
  </li> -->
  <li>
      <a href="/contact" style="color: #117A65; ">CONTACT</a>
  </li>
</ul>
</nav>
  <a href="#" class="visible-sm visible-xm" id="menu-toggle"><i class="fa fa-bars"></i></a> 


</div>
</header>     
<!--</div> -->

 <!-- End Site Header -->