<div class="body"> 
  <!-- Start Site Header -->
<header class="site-header" style="background-image: url(..images/wood.jpg);">
 <div class="container for-navi">
  <div class="site-logo">
   <h1>
    <a href="index.html">
    <span><img src="../images/rccglogo.png" style="height: 60px; padding-top: -20px;"></span>
    <span class="logo-text" style="color: #117A65;">AGAPE HOUSE KANSAS</span></span></span>
    <span class="logo-tagline"></span>
    </a>
</h1>
</div>
      
            <!-- Main Navigation -->
    <nav class="main-navigation" role="navigation" style="font-size: 18px;">
    <ul class="sf-menu">
        <li>
          <a href="/index.html">Home</a> 
        </li>
          
          <li><a href="javascript:void(0)">About us</a>
            <ul class="dropdown">
              <li><a href="/about">Our Church</a></li>
              <li><a href="/ministries">Our Pastors</a></li>
              <li><a href="/staff">Our Staff</a></li>
          
              <!--<li><a href="donate.html">Donate now</a></li> -->
            </ul>
          </li> 

          <li>
        <a href="/sermons">Sermons</a>
        
            </li>
       <li>
        <a href="/gallery">Gallery</a>
        
            </li>
      
     <li><a href="javascript:void(0)">EVENTS</a>
        <ul class="dropdown">
        <!--  <li><a href="/events">Events List</a></li> -->
          <li><a href="/calendar">Calendar</a></li> 
       </ul> 
     </li> 
              
  <!--  <li>
      <a href="/donate">DONATE</a>
  </li> -->
  <li>
      <a href="/contact">CONTACT</a>
  </li>
</ul>
</nav>
<a href="#" class="visible-sm visible-xm" id="menu-toggle"><i class="fa fa-bars"></i></a> 

</div>
</header>     
<!--</div> -->

 <!-- End Site Header -->