<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8"/>
<meta name="viewpoint" content="width= device-width, initial-scale= 1.0, minimun-scale = 1.0, maximum-scale= 1.0">
<title> Welcome to Agape House  - RCCG Kansas </title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->



<meta name="format-detection" content="telephone=no">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<!-- CSS
  ================================================== -->
<!--<link href="css/bootstrap.css" rel="stylesheet" type="text/css"> -->
 <!--<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
<link href="/vendor/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> -->
<link href="/vendor/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">

<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
<!-- <link href="css/custom.css" rel="stylesheet" type="text/css"> -->
<!-- Color Style -->
<link href="colors/color11.css" rel="stylesheet" type="text/css"> 
<!-- Nivo Slider Styles -->
<!--<link rel="stylesheet" type="text/css" href="css/default.css"> -->
<!-- SCRIPTS
  ================================================== -->
<script src="/js/modernizr.js"></script><!-- Modernizr -->
</head>