<header class="site-header">
  <div class="container for-navi">
      <div class="site-logo">
        <h1>
            <a href="/"><%= image_tag "" %></a>
        </h1>
        </div>
        <!-- Main Navigation -->
        <nav class="main-navigation" role="navigation">
            <ul class="sf-menu">
                <li><a href="/">Home</a>

                <!-- <ul class="dropdown">
                        <li><a href="index.html">Home Style 1</a></li>
                        <li><a href="index1.html">Home Style 2</a></li>
                    <li><a href="javascript:void(0)">Homepage Sliders</a>
                            <ul class="dropdown">
                                <li><a href="index.html">FlexSlider</a></li>
                                <li><a href="index-nivoslider.html">NivoSlider</a></li>
                            </ul>
                        </li>
                    <li><a href="javascript:void(0)">Header Styles</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Style 1</a></li>
                                <li><a href="header-style2.html">Style 2</a></li>
                                <li><a href="header-style3.html">Style 3</a></li>
                                <li><a href="header-style4.html">Style 4</a></li>
                                <li><a href="header-style5.html">Style 5</a></li>
                            </ul>
                        </li>
                    <li><a href="javascript:void(0)">Footer Styles</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Light</a></li>
                                <li><a href="footer-dark.html">Dark</a></li>
                            </ul>
                        </li>
                  </ul> 
                </li> -->
                 <li><a href="javascript:void(0)">About us</a>
                 <ul class="dropdown">
                    <li><a href="about.html">Overview</a></li>
  
                    <li><a href="new-here.html">New Here?</a></li>
                    <li><a href="staff.html">Our Staff</a></li>
                    <!--<li><a href="donate.html">Donate now</a></li> -->
                  </ul>
                <!-- </li> -->
 <!--                <li><a href="#">Events</a>
                  <ul class="dropdown">
                    <li><a href="events.html">Events List</a></li>
                    <li><a href="events-calendar.html">Events Calendar</a></li>
                    <li><a href="events-grid.html">Events Grid</a></li>
                    <li><a href="single-event.html">Single Event</a></li>
                  </ul>
                </li> -->
                <!-- <li><a href="javascript:void(0)">Media</a> -->
                    <!-- <ul class="dropdown">
                        <li><a href="sermons.html">Sermons</a>
                            <ul class="dropdown">
                                <li><a href="sermons-series.html">Sermons Series</a></li>
                                <li><a href="sermons-list.html">Sermons List</a></li>
                                <li><a href="single-sermon.html">Single Sermon</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Gallery</a>
                            <ul class="dropdown">
                                <li><a href="gallery-2cols-filter.html">With Filter</a>
                                    <ul class="dropdown">
                                        <li><a href="gallery-2cols-filter.html">2 Cols</a></li>
                                        <li><a href="gallery-3cols-filter.html">3 Cols</a></li>
                                        <li><a href="gallery-4cols-filter.html">4 Cols</a></li>
                                    </ul>
                                </li>
                                <li><a href="gallery-2cols-pagination.html">With Pagination</a>
                                    <ul class="dropdown">
                                        <li><a href="gallery-2cols-pagination.html">2 Cols</a></li>
                                        <li><a href="gallery-3cols-pagination.html">3 Cols</a></li>
                                        <li><a href="gallery-4cols-pagination.html">4 Cols</a></li>
                                    </ul>
                                </li>
                                <li><a href="gallery-galleria.html">Galleria Gallery</a></li>
                            </ul>
                        </li>
                    </ul> -->
                <!-- </li>
              <li><a href="#">Contact</a></li> -->
                <li>
                    <a href="/donate">Donate</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>

        </nav>
        <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>

  </div>
</header>

