 <!-- Start Page Header -->
    <div class="page-header parallax clearfix" style="background-image:url('../images/backg-image2.jpg');">
        <div class="title-subtitle-holder">
          <div class="title-subtitle-holder-inner">
          <h2>EVENTS</h2>        
          </div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Breadcrumbs -->
    <div class="lgray-bg breadcrumb-cont">
      <div class="container">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/">events</a></li>
              <li><a href="/ calendar">calendar</a></li>
              <li class="active"></li>
            </ol>
        </div>
    </div>

    <div class="main" role="main">
      <div id="content" class="content full">
        <div class="container">
           <%= flash_messages %>
           <div class="row">
                   
          </div>
        </div>
      </div>
  
