	<!-- End Site Header -->
    <!-- Start Page Header -->
    <div class="page-header parallax clearfix" style="background-image:url(../images/backg8.jpeg);">
        <div class="title-subtitle-holder">
        	<div class="title-subtitle-holder-inner">
    			<h2>Sermons</h2>
           	</div>

        </div>
    </div>
    <!-- End Page Header -->
    <!-- Breadcrumbs -->
    <div class="lgray-bg breadcrumb-cont">
    	<div class="container">
          	<ol class="breadcrumb">
            	<li><a href="/">Home</a></li>
            	<li class="active">Sermons</li>
          	</ol>
        </div>
    </div>
    <!-- Start Body Content -->
<div class="main" role="main">
<div id="content" class="content full">
<div class="container">
<div class="row">
<div class="col-md-8">
  	<a href="/index" class="basic-link backward" style="color: #117A65; ">Back to homepage</a>
  	<div class="sermon-media clearfix">
      	<div class="sermon-media-left sermon-links">
         <!--     <ul class="action-buttons">
               <!--   <li class="link"><a href="#self-video" data-toggle="tooltip" data-placement="right" data-original-title="Self Hosted Video"><i class="icon-video-cam"></i></a></li> -->
             <!--  <li class="link"><a href="#youtube-video" data-toggle="tooltip" data-placement="right" data-original-title="Youtube Video"><i class="fa fa-youtube-play"></i></a></li> -->
                <!--  <li class="link"><a href="#vimeo-video" data-toggle="tooltip" data-placement="right" data-original-title="Vimeo Video"><i class="fa fa-vimeo-square"></i></a></li> -->
                  
                 <!-- <li class="link"><a href="#self-audio" data-toggle="tooltip" data-placement="right" data-original-title="Self Hosted Audio"><i class="icon-headphones"></i></a></li> -->
               <!--   <li class="link"><a href="#soundcloud-audio" data-toggle="tooltip" data-placement="right" data-original-title="SoundCloud Audio"><i class="fa fa-soundcloud"></i></a></li> -->
                <!--  <li><a href="#" data-toggle="tooltip" data-placement="right" data-original-title="Download PDF"><i class="icon-cloud-download"></i></a></li> -->
          <!--    </ul> -->
        	</div>
          <div class="sermon-media-right">
          	<div class="sermon-media-content">
              <div class="video-container fw-video sermon-tabs" id="youtube-video">
             <!--     <iframe width="1280" height="720" src="https://www.youtube.com/embed/zNUR6w_4EtU" frameborder="0" gesture="media" allowfullscreen></iframe> -->

             <!--   <iframe width="854" height="480" src="https://www.youtube.com/embed/DJLcoX52kLI" frameborder="0" allowfullscreen style="align-items: center;"></iframe> -->
                 <!--   <iframe width="854" height="480" src="https://www.youtube.com/embed/zrYG7RIAjDA" frameborder="0" allowfullscreen></iframe>
                     <!-- <object width="560" height="315"><param name="movie" value="https://www.youtube.com/v/gjOzmz4KYho?hl=en_GB&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/embed/FMQYDFjzU90"></embed></object> -->

                   </div>

                    <div class="video-container fw-video sermon-tabs" id="youtube-video">
                    <!--    <iframe width="854" height="480" src="https://www.youtube.com/embed/DJLcoX52kLI" frameborder="0" allowfullscreen style="align-items: center;"></iframe>  
             <!--   <iframe width="854" height="480" src="https://www.youtube.com/embed/zrYG7RIAjDA" frameborder="0" allowfullscreen></iframe> -->
                     <!-- <object width="560" height="315"><param name="movie" value="https://www.youtube.com/v/gjOzmz4KYho?hl=en_GB&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/embed/FMQYDFjzU90"></embed></object> -->
                  </div>
                  
          <!--        <div class="video-container fw-video sermon-tabs" id="vimeo-video">
                      <iframe src="https://player.vimeo.com/video/37540860?title=0&amp;byline=0&amp;portrait=0" width="500" height="281"></iframe>
                  </div> -->
                 
                 
                <!--  <div class="audio-container sermon-tabs" id="soundcloud-audio">
                      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/21136687&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                  </div> -->
              </div>
              <!--<p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.Aenean vulputate eleifend tellus. Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.Aenean vulputate eleifend tellus.</p> -->
                  <div class="social-share-bar">
                      <h4 style="color: #117A65; "><i class="fa fa-share-alt"></i> Share</h4>
                      <ul class="social-icons-colored">
                          <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                           <li class="instagram"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                         <!-- <li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li> -->
                          <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                          <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                  </div>
            	</div>
         	</div>
      </div>
      <div class="col-md-4">
      	<div class="widget sidebar-widget widget_categories">
          	<h3 class="widgettitle" style="color: #117A65; ">Sermon Categories</h3>
				<ul>
          				<li><a href="https://youtu.be/DJLcoX52kLI">Prayer</a> (1)</li>
          				<li><a href="#">Everybody needs a Miracle pt 1</a> (1)</li>
                   <li><a href="https://youtu.be/yNBiBquT7mY">Everybody needs a Miracle pt 2</a> (2)</li>
                   <li><a href="https://youtu.be/LVgGd7SkiPc">Everybody needs a Miracle pt 3</a> (3)</li>
                   <li><a href="https://youtu.be/4qWpj4GMa4Q">Everybody needs a Micracle pt 4</a> (4)</li>
                   <li><a href="https://www.youtube.com/watch?v=zNUR6w_4EtU&feature=youtu.be">Testimony & Thanksgiving Service</a> (1)</li>

          			<!--	<li><a href="#">Depression</a> (13)</li>
          				<li><a href="#">Storms</a> (23)</li>
          				<li><a href="#">Anxiety</a> (65)</li> -->
        				</ul> 
                  </div>
                  <div class="widget sidebar-widget">
                      <h3 class="widgettitle" style="color: #117A65; ">Sermon Tags</h3>
                    	<div class="tag-cloud">
                      <a href="#">Prayer</a>
                       <a href="#">Everybody needs a Miracle</a>
                      	</div>
                  </div>
              	<div class="widget sidebar-widget widget_sermon_speakers">
                  	<h3 class="widgettitle" style="color: #117A65; ">Sermon Speakers</h3>
        				<ul>
                      	<li>
                        <!--  	<img src="http://placehold.it/200x200&amp;text=IMAGE+PLACEHOLDER" alt="" width="100" height="100"> -->
                              <h5>Pastor Mrs Okeowo</h5>
                              <span class="meta-data"> Speaker</span>
                          </li>
                      	<li>
                         <!-- 	<img src="http://placehold.it/200x200&amp;text=IMAGE+PLACEHOLDER" alt="" width="100" height="100"> -->
                              <h5>Pastor Collins Elumogo</h5>
                              <span class="meta-data">Guest Speaker</span>
                          </li>
        				</ul>
                  </div>
              </div>
          </div>
   	</div>
  </div>
</div>
<!-- End Body Content -->