 <!-- Start Page Header -->
    <div class="page-header parallax clearfix" style="background-image:url(../images/backg8.jpeg);">
        <div class="title-subtitle-holder">
        	<div class="title-subtitle-holder-inner">
    			<h2>Gallery</h2>
        	</div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Breadcrumbs -->
    <div class="lgray-bg breadcrumb-cont">
    	<div class="container">
          	<ol class="breadcrumb">
            	<li><a href="/">Home</a></li>
            	<li class="active">Gallery</li>
          	</ol>
        </div>
    </div>
    <!-- Start Body Content -->
    <div class="main" role="main">
      <div id="content" class="content full">
          <div class="container">

         <div class="row">
                  <div class="spacer-20"></div>
                  <h5 style="color: #117A65; ">2017 Mother's Day Celebration</h5>
                  <hr class="sm">
                    <ul class="sort-destination isotope-grid" data-sort-id="gallery">
                       <li class="col-md-4 col-sm-4 grid-item format-gallery">
                          <div class="grid-item-inner">
                            <div class="media-box">
                                <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="slide" data-pause="yes">
                                  <ul class="slides">
                                      <li class="item"><a href="../images/mother's day celebration/mothers-image4.jpg" data-rel="prettyPhoto[postname]"><img src="../images/mother's day celebration/mothers-image4.jpg" alt=""></a></li>
                                      <li class="item"><a href="../images/photo-image.jpg" data-rel="prettyPhoto[postname]"><img src="../images/photo-image.jpg" alt=" "> </a></li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                      </li>
                       <li class="col-md-4 col-sm-4 grid-item format-link">
                        <div class="grid-item-inner"> <a href="../images/mother's day celebration/mothers-image.jpg" target="_blank" class="media-box"> <img src="../images/mother's day celebration/mothers-image.jpg" alt=""> </a> </div>
                      </li>
                        <li class="col-md-4 col-sm-4 grid-item format-image">
                          <div class="grid-item-inner"> <a href="../images/mother's day celebration/mothers-image1.jpg" data-rel="prettyPhoto" class="media-box"> <img src="../images/mother's day celebration/mothers-image1.jpg" alt=""> </a> </div>
                      </li>

                       <li class="col-md-4 col-sm-4 grid-item format-gallery">
                          <div class="grid-item-inner">
                            <div class="media-box">
                                <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="slide" data-pause="yes">
                                  <ul class="slides">
                                      <li class="item"><a href="../images/mother's day celebration/mothers-image3.jpg" data-rel="prettyPhoto[postname]"><img src="../images/mother's day celebration/mothers-image3.jpg" alt=""> </a></li>
                                      <li class="item"><a href="../images/mother's day celebration/mothers-image5.jpg" data-rel="prettyPhoto[postname]"><img src="../images/mother's day celebration/mothers-image5.jpg" alt=" "> </a></li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                      </li>
                      
                        <li class="col-md-4 col-sm-4 grid-item format-image">
                          <div class="grid-item-inner" style="height: 200px;"> <a href="../images/mother's day celebration/mothers-image8.jpg" data-rel="prettyPhoto" class="media-box"> <img src="../images/mother's day celebration/mothers-image8.jpg" alt=""> </a> </div>
                      </li>
                      
                      
                       
                  <!--    <li class="col-md-4 col-sm-4 grid-item format-image">
                          <div class="grid-item-inner"> <a href="../images/mother's day celebration/mothers-image4.jpg" data-rel="prettyPhoto" class="media-box"> <img src="../images/mother's day celebration/mothers-image4.jpg" alt=""> </a> </div>
                      </li>
                      <li class="col-md-4 col-sm-4 grid-item format-image">
                          <div class="grid-item-inner"> <a href="../images/mother's day celebration/mothers-image2.jpg" data-rel="prettyPhoto" class="media-box"> <img src="../images/mother's day celebration/mothers-image2.jpg" alt=""> </a> </div>
                      </li> -->

                         
                      <li class="col-md-4 col-sm-4 grid-item format-video">
                          <div class="grid-item-inner"> <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100017105711758%2Fvideos%2F107045269875663%2F&show_text=0&width=560" width="560" height="317" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> </div>
                        </li>
                    </ul>
              </div>

                <!-- Pagination -->
                <ul class="pagination">
                    <li><a href="#">Previous</a></li>
                    <li class="#"><a href="">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li> 
                    <li><a href="#">Next</a></li>
                </ul>
          </div>
        </div>
    </div>
    <!-- End Body Content -->
