 <!-- Start Page Header -->
    <div class="page-header parallax clearfix" style="background-image:url(../images/backg8.jpeg);">  
        <div class="title-subtitle-holder">
        	<div class="title-subtitle-holder-inner">
    			<h2>About Our Church</h2>
          </div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Breadcrumbs -->
    <div class="lgray-bg breadcrumb-cont">
    	<div class="container">
          	<ol class="breadcrumb">
            	<li><a href="/">Home</a></li>
            	<li class="active">About Us</li>
          	</ol>
        </div>
    </div>
  <!-- Start Body Content -->
    <div class="main" role="main">
      <div id="content" class="content full">
          <div class="container">
            <h4 style="font-weight: 50px; font-size: 20px;">WELCOME TO AGAPE HOUSE</h4>
                <hr class="sm">
                <h2 style="text-align: center; color: #117A65;">OUR MISSION</h2>
                <hr>
                <div class="spacer-20"></div>
                 <p style="font-family: italics; font-weight: 5px; font-size: 18px;"> As received by the General Overseer (G.O.), Pastor E. A. Adeboye, and communicated to the Headquarters leaders, our vision and mission statement shall remain intact, with a qualifying addendum in view of the peculiarity of the demography in the North American region. They are as follows:</p><br />
                 <br/ >

                  <div class="spacer-20"></div>

               <!-- Lead Content -->
              <ul>
  <li>To make heaven.</li>
  <li>To take as many people with us.</li>
  <li>To have a member of RCCG in every family of all nations.</li>
  <li>To accomplish No. 1 above, holiness will be our lifestyle.</li>
  <li>To accomplish No. 2 and 3 above, we will plant churches within five minutes walking distance in every city and town of developing countries and within five minutes driving distance in every city and town of developed countries.</li>
</ul>
<p>We will pursue these objectives until every Nation in the world is reached for the Lord Jesus Christ.</p>
<p><br />
</p>
<p><br />
</p>
<p><strong>ADDENDUM:</strong><br />
For planting new parishes in North America &amp; Caribbean countries, the location to any existing parish must be at least 10 minutes driving distance.</p>


                  <div class="spacer-20"></div>
            <h2 style="text-align: center; color: #117A65;">OUR BELIEFS</h2>
                <hr>
                <div class="spacer-20"></div>
                 <ul style="word-spacing: normal;">
                        <li>In the Divine Inspiration of the Bible and as the infallible word of God.</li>
                        <li>The divine Trinity consists of three persons: The Father – The Son – The Holy Spirit.</li>
                        <li>The Deity of Jesus Christ, in his virgin birth, in his sinless life, teachings, crucifixion, resurrection, ascension, and coming return to this in power and glory to rule.</li>
                        <li>In the Baptism of the Holy Spirit for all believers who are living sanctified lives and that it is evidenced by the speaking in tongues as the spirit gives utterances.</li>
                        <li>The second coming of Jesus and the rapture of the church.</li>
                        <li>In the 1000 year reign of Jesus Christ on earth.</li>
                        <li>The great white throne judgement as the final judgement when all the wicked will stand before God.</li>
                        <li>The new heaven and new earth will replace the current heaven and earth.</li>
                        <li>In eternal heaven and external hell as literal places of final destiny.</li>
                        <li>In water baptism by immersion as Jesus commanded.</li>
                         <li>In restitution where stolen goods are returned to their rightful owners.</li>
                        <li>In the Lord Supper, practised to remember his death until he returns.</li>

                      </ul>


</div>


                
                <div class="spacer-20"></div>
            </div>
        </div>
    </div>
    <!-- End Body Content -->