 <!-- Start Page Header -->
    <div class="page-header parallax clearfix" style="background-image:url(../images/staff-image2.jpg);">  
        <div class="title-subtitle-holder">
        	<div class="title-subtitle-holder-inner">
    			<h2>About our church</h2>
        	</div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Breadcrumbs -->
    <div class="lgray-bg breadcrumb-cont">
    	<div class="container">
          	<ol class="breadcrumb">
            	<li><a href="index.html">Home</a></li>
            	<li class="active">About Us</li>
          	</ol>
        </div>
    </div>
<div class="main" role="main">
    	<div id="content" class="content full">
        	<div class="container">
               	<h2>Welcome to Agape House</h2>
              	<hr class="sm">
                <h4>Aenean vulputate eleifend tellus</h4>
               	<p>You are welcome to Agape House Kansas. Please feel free to leave us your name and we will contact shortly.</p>
                <div class="spacer-50"></div>
                <h4> As received by the General Overseer (G.O.) Pastor E.A. Adeboye, and communicated to the leaders, our vision and mission statement shall read:</h4>
                 <!-- Lead Content -->
     <div class="lead-content clearfix">
      <div class="lead-content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-4 col-sm-4 featured-block">
                        <h3 style="text-align: center"> OUR VISION</h3>
                        <figure>
                          <a href="about.html"><%= image_tag 'about2.jpg' %></a>
                      </figure>
                      <ul>
                        <li>To make heaven.</li>
                        <li>To take as many people with us.</li>
                        <li>To have a member of RCCG in every family of all nations.</li>
                        <li>To accomplish No. 1 above, holiness will be our lifestyle.</li>
                        <li>To accomplish No. 2 and 3 above, we will plant churches within five minutes walking distance <br> and within five minutes driving distance in every <br>city and town of developed countries.</li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 featured-block">
                        <h3 style="text-align: center">MISSION STATEMENT</h3>
                        <figure>
                          <a href="donate.html"><%= image_tag 'about1.jpg' %></a>
                      </figure>
                      <h5>WHAT WE BELIEVE</h5>
                      <h6>We believe:</h6>
                      <ul style="word-spacing: normal;">
                        <li>In the Divine Inspiration of the Bible and as the infallible word of God.</li>
                        <li>The divine Trinity consists of three persons: The Father – The Son – The Holy Spirit.</li>
                        <li>The Deity of Jesus Christ, in his virgin birth, in his sinless life, teachings, crucifixion, resurrection, ascension, and coming return to this in power and glory to rule.</li>
                        <li>In the Baptism of the Holy Spirit for all believers who are living sanctified lives and that it is evidenced by the speaking in tongues as the spirit gives utterances.</li>
                        <li>The second coming of Jesus and the rapture of the church.</li>
                        <li>In the 1000 year reign of Jesus Christ on earth.</li>
                        <li>The great white throne judgement as the final judgement when all the wicked will stand before God.</li>
                        <li>The new heaven and new earth will replace the current heaven and earth.</li>
                        <li>In eternal heaven and external hell as literal places of final destiny.</li>
                        <li>In water baptism by immersion as Jesus commanded.</li>
                         <li>In restitution where stolen goods are returned to their rightful owners.</li>
                        <li>In the Lord Supper, practised to remember his death until he returns.</li>

                      </ul>
                    <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p> -->
                    </div>
                    <div class="col-md-4 col-sm-4 featured-block">
                        <h3 style="text-align: center;">YOU'RE INVITED!</h3>
                        <figure>
                          <a href="new-here.html"><%= image_tag 'about3.jpg' %></a>
                      </figure>
                      <p style="text-align: center;">We welcome you to fellowship with us.</p>
                    </div> 
                </div>
          </div>
        </div>
    </div> 
   <!--             <div class="row">
                	<div class="col-md-4 col-sm-4">
                    	<div class="icon-box icon-box-style1">
                        	<div class="icon-box-head">
                            	<span class="ico"><i class="icon-happy-drop"></i></span>
                            	<h4>Mission Statement</h4>
                           	</div>
            				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                       	</div>
                   	</div>
                	<div class="col-md-4 col-sm-4">
                    	<div class="icon-box icon-box-style1">
                        	<div class="icon-box-head">
                            	<span class="ico"><i class="icon-umbrella"></i></span>
                            	<h4>Our Core Values</h4>
                           	</div>
            				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                       	</div>
                   	</div>
                	<div class="col-md-4 col-sm-4">
                    	<div class="icon-box icon-box-style1">
                        	<div class="icon-box-head">
                            	<span class="ico"><i class="icon-tshirt"></i></span>
                            	<h4>Outreach</h4>
                           	</div>
            				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                       	</div>
                   	</div>
              	</div> -->
              
    <!-- End Body Content -->
    
